/* custom.css */

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

@font-face {
    font-family: "SSP";
    src: url("/fonts/SourceSansPro-Regular.ttf.woff");
}
@font-face {
    font-family: "SSP";
    src: url("/fonts/SourceSansPro-Bold.ttf.woff");
    font-weight: bold;
}
@font-face {
    font-family: "SSP";
    src: url("/fonts/SourceSansPro-It.ttf.woff");
    font-style: italic;
}
@font-face {
    font-family: "SSP";
    src: url("/fonts/SourceSansPro-BoldIt.ttf.woff");
    font-weight: bold;
    font-style: italic;
}

body {
    background-color: #eeeeee;
    font-size: 12pt;
    font-family: "SSP", "Noto Sans CJK TC", "Noto Sans TC", "Source Han Sans TW", "Microsoft JhengHei", sans-serif;
}

.text-muted {
    color: #777777 !important;
}

h1 {
    font-size: 2rem;
}

:lang(ja) {
    font-family: "SSP", "Noto Sans CJK JP", "Noto Sans JP", "Source Han Sans JP", "Meiryo", sans-serif;
}

:lang(zh-cn) {
    font-family: "SSP", "Noto Sans CJK SC", "Noto Sans SC", "Source Han Sans SC", "Microsoft Yahei", sans-serif;
}

.blockquote {
    border-left-color: #dddddd;
}

.big-title {
    font-size: 300%;
    padding-top: 40px;
}

.big-title a:link {
    color:inherit;
}

.big-title a:visited {
    color:inherit;
}
